<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>attr</title>
</head>
<h1>request/attr</h1>

<!-- Thymeleaf를 동해서 attribute랑 같은기능을 쓰는 것 -->
age : [[${age}]]<br />
pname : [[${pname}]]<br />

<!-- jum 배열 출력 주소만 출력 -->
jum : [[${jum}]]<br />

<!-- jum 배열 출력 -->
<!-- 자료형이 생략 됨 -->
<hr />
<th:block th:each="j:${jum}">
	[[${j}]]  <br/>
</th:block>
<hr />

<!--그냥 출력 됨-->
now : [[${now}]] <br />
 
<!--Person클래스에서 설정한 멤버변수를 컨트롤러에서 설정하여 html에서 출력-->
per : [[${per}]] <br/>

<!-- 얘네는 getter 있어야 됨 Person클래스 가서 @Data추가 -->
per.pname : [[${per.pname}]] <br/>
per.mil : [[${per.mil}]] <br/>
</body>
</html>