<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board/list</title>
</head>
<body>
<h1 align="center">board/list</h1>


	<table border="" align="center">
		<tr align="center">
			<td>번호</td>
			<td>제목</td>
			<td>작성자</td>
			<td>등록일</td>
			<td>조회수</td>
		</tr>
		<tr th:each="dto, dtoStat : ${mainData}" align="center">
			<td th:text="${dto.id}" />
			<td width="500px;" align="left">
				<a th:href="|detail/${dto.id}|" th:text="${dto.title}"></a>
			</td>
			<td th:text="${dto.pname}"/>
			<td th:text="${dto.regDate}"/>
			<td th:text="${dto.cnt}"/>
		</tr>
		<!--페이지처리-->
		<tr>
		    <td colspan="5" align="center">
		        <a th:if="${paging.pageStart > 1}" th:href="@{|?page=${paging.pageStart-1}|}">[이전]</a>		
		        <span th:each="p : ${#numbers.sequence(paging.pageStart, paging.pageEnd)}">
					<!-- 헷갈리니까 내가 선택한 페이지면 빨갛게 처리하겠다 이거다 -->
		            <a th:if="${paging.page == p}">
		                [<span style="color:blue" th:text="${p}"></span>]
		            </a>
		            <a th:unless="${paging.page == p}" th:href="@{|?page=${p}|}">[[${p}]]</a>
		        </span>
		        <a th:if="${paging.pageEnd < paging.pageTotal}" th:href="@{|?page=${paging.pageEnd+1}|}">[다음]</a>
		    </td>
		</tr>
		<!-- 글쓰기 -->
		<tr>
			<td colspan="5" align="right">
			<a href="insert">글쓰기</a>
			</td>
		</tr>
	</table>
</body>
</html>