<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board/modifyForm</title>
<script>
	function fileDelete(){
		// 컨트롤러의 fileDelete로 가라
		frm.action = "/board/fileDelete"
		// 이게 있어야 파일삭제 누르면 fileDelete 메서드 실행
		frm.submit()
	}
</script>
</head>
<body>
<h2>board/modifyForm</h2>
<form name="frm" method="post" enctype="multipart/form-data" th:object="${dto}">
	<input type="hidden" th:field="*{id}"/>
	<table border="">
		<tr>
			<td>제목</td>
			<td><input type="text" th:field="*{title}"/></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td><input type="text" th:field="*{pname}"/></td>
		</tr>
		<tr>
			<td>암호</td>
			<td><input type="text" name="pw"/></td>
		</tr>
		<tr>
			<td>파일</td>
			<td><!-- 만약 기존의 파일이 있다면 -->
				<th:block th:if="${dto.upfile != null}">
					<input type="text" th:field="*{upfile}" readonly />
					<input type="button" onclick="fileDelete()" value="파일삭제"/>
				</th:block>
				<input th:if="${dto.upfile == null}" type="file" th:field="*{mmff}" />
			</td>
		</tr>
		<tr>
			<td>내용</td>
			<td><textarea th:field="*{content}" />
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="수정" />
				<a th:href="|/board/detail/${dto.id}|" th:text="뒤로"/>
			</td>
		</tr>
	</table>
</form>
</body>
</html>